* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.25%;
    scroll-behavior: smooth;

    
} 

body {
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: 	#ffffff;
    padding: 0.1rem 0.1rem;
}

header img {
    display: flex;
    width: 12rem;
}

header nav {
    display: flex;
    gap: 2rem;
    
    
}

header nav a {
    color: #1C1C1C;
    text-decoration: none;
    font-size: 2.5rem;
    transition: color 0.5s;
}

header nav a:hover {
    color: #af2727;
}

#button {
    background-color: #90EE90;
    border: none;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;
    color: #000000;
    text-align: center;
    display: inline-block;
    font-size: 1.8rem;
    font-family: "Poppins";
    cursor: pointer;
    transition: background 0.2s;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70rem;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./img/pizza11.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    box-shadow: #000000;
}

#hero-title h1 {
    font-size: 10rem;
    opacity: 200;
    font-weight: 500;
    color: #ffffff;
    font-family: "Berkshire Swash", sans-serif;
}

#hero-sub-title p {
    font-size: 4rem;
    color: #ffffff;
}

.cardapio h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem;
    background-color: #ffffff;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.cardapio h2 {
   text-align: center;
   font-size: 4rem;
} 

.container-full{
    background-color: #ffffff;

}

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 1rem;
    
    
    
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 0.625rem;
    overflow: auto;

    

}

.card img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    object-position: center;


}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #af2727;
    height: 5rem;
    transition: background 0.2s;
    cursor: pointer;
}

.text:hover {
    background: #eb4444;

}
.text p {
    font-size: 2rem;
    color: #ffffff;   
}

.contact {
    background-color: #ffffff; 
    padding: 3rem;
    
}

.contact-title h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;   
    text-align: center;
    font-size: 4rem;
    color: #000000; 
}

.contact-sub-title {
    text-align: center;
    font-size: 3rem;
    color: #000000;
    padding: 2rem;
}

.contact-info {
    display: flex; 
    justify-content: center;
    gap: 6rem;
    font-size: 1.6rem;
    color: #000000; 
}

.media-title {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.media-img {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    cursor: pointer;
}

.img-delivery {
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    align-items: center;
    background-color: #af2727; 
    color: #ffffff; 
    text-align: center;
    padding: 1rem;
}

.footer-content {
    font-size: 1.3rem;
    max-width: 800px;
    margin: 0 auto;
}